.spellbook-carousel {
    position: absolute;
    top: 300px;
}

.spell-context {
    border-radius: 25px;
    border: 3px solid #012a29;
    background-color: #034e4d;
    padding: 10px;
    margin: 10px auto 10px auto;
    width: 600px;
    text-align: left;
    font-size: 18px;
}

.spell-image {
    width: 400px;
    height: 400px;
    text-align: center;
    padding: 0px 10px 0px 10px;
}

.name h1 {
    font-weight: bolder;
    font-variant: small-caps;
    text-transform: capitalize;
    margin: 10px 0px 5px 0px;
    text-align: left;    
}

.subtitle {
    font-style: italic;
    text-align: left;
}

.spell-features {
    text-align: left;
}

.spell-features span {
    font-weight: bold;
}

.spell-features ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0px 0px 0px ;
}

.description {
    padding-top: 10px;
    font-size: 16px;
}
